@model List<DMS.Web.viewmodel.DocumentViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="panel panel-default border-white">
    <div class="panel-heading">
        <h3 class="panel-title text-center text-primary">List of Documents</h3>
    </div>
    <br />
    <br />

    <table class=" table table-striped table-bordered table-responsive mx-auto ">
        <thead class="bg-white bg-gradient">
            <tr>             
                <th class="text-dark">
                    @Html.DisplayName("Title")
                </th>
                <th class="text-dark">
                    @Html.DisplayName("Description")
                </th>
                <th class="text-dark">
                    @Html.DisplayName("Author")
                </th>
                <th class="text-dark">
                    @Html.DisplayName("Content")
                </th>
                <th class="text-dark col-md-1">Actions</th>
                <th class="text-dark col-md-1">Views</th>
                <th class="text-dark col-md-1">Downloads</th>
            </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                 
                    @Html.HiddenFor(modelItem => item.DocumentId)
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DocumentId"><i class="bi bi-pencil-square text-success"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.DocumentId"><i class="bi bi-trash3 text-danger"></i></a>
                    </td>
                    
                    <td>
                        
                        <a class="btn btn-primary" type="submit" href="~/Documentupload/fileupload/@item.FileName" target="_blank">Preview</a>



                        
                    </td>
                        

                    <td>                        
                        <form asp-controller="Documents" asp-action="Download" method="post">
                            <input type="hidden" name="FileName" value="@item.FileName" />
                            <button type="submit"class="btn btn-success">Download</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
